apiVersion: v1
kind: ResourceQuota
metadata:
  name: dagger-execution-quotas
  namespace: dagger-exec
spec:
  hard:
    pods: "50"
    requests.cpu: "8"
    requests.memory: "16Gi"
    limits.cpu: "16"
    limits.memory: "32Gi"
